body {
	background-color: #000000;
	font-family: Helvitica, Arial, sans-serif;
}

table, th, td {
  border: 10px solid blue;
}

xmp {
	background-color: gray;
	text-decoration: none;
	color: black;
  display: block;
  font-family: monospace;
}

a {
	color: lightgrey;
	text-decoration-line: underline;
}

p, h1, h2, h3, h4, h5, h6 {
	margin: 1px;
	color: lightgrey;
}

ul, li {color: LightGray;}

#container {
	background-color: black;
	width: auto;
	font-size: 2vw;
}

#header {
	background-color: #3b5961;
	color: white;
	text-align: center;
	padding: 10px;
	width: auto;
}

#content {
	padding: 10px;
}

#nav {
	background-color:#999999;
	color: black;
	width: auto;
	text-align: left;
}

#nav ul {
	list-style: none;
	padding: 10;
}

#nav .selected {
	font-weight: bold;
}

#main {
	width: 800px;
	float: left;
}

#footer {
	float: right;
	clear: both;
	padding: 10px;
	background-color: #999999;
	color: white;
	text-align: right;
}
