body {
	background-color: #000000;
	font-family: Helvitica, Arial, sans-serif;
}

table, th, td {
  border: 10px solid blue;
}

xmp, pre {
	background-color: gray;
	text-decoration: none;
	color: black;
  display: block;
	padding: 10px;
	width: auto;
	max-width: 1200px;
	max-height: 500px;
  font-family: monospace;
	overflow: scroll;
	font-size: 2vw;
}

a, img {
	color: lightgrey;
	text-decoration-line: underline;
	font-size: 2vw;
}

p, h1, h2, h3, h4, h5, h6, ul, li {
	margin: 1px;
	color: lightgrey;
	font-size: 2vw;
}

#container {
	background-color: black;
	width: auto;
}


#header {
	background-color: #3b5961;
	color: white;
	text-align: center;
	padding: 10px;
	width: auto;
	display: block;
}

#content {
	padding: 10px;
}

#nav {
	background-color:#999999;
	color: black;
	width: auto;
	text-align: left;
	padding: 10px;
	display: block;
}

#nav ul {
	list-style: none;
	padding: 10;
}

#nav .selected {
	font-weight: bold;
}

#main {
	width: auto;
	float: left;
}

#footer {
	float: right;
	clear: both;
	background-color: #999999;
	color: white;
	text-align: right;
}
